@import url(https://fonts.google.com/specimen/Work+Sans);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    padding: 8rem;
    background-image: url('assets/images/background-pattern-desktop.svg');
    position: absolute;
    width: 100%;
}
body{
    background-color: hsl(275, 100%, 97%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    color: hsl(292, 42%, 14%);
    font-family: "work sans" ;
    position: relative;
}
.container{
    background-color: hsl(0, 0%, 100%);
    width: 600px;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    align-self: center;
    justify-self: center;
    z-index: 99;
    margin-top: 150px;
}
.star{
    display: flex;
    align-items: center;
}
.star img {
    width: 30px;
    height: 30px;
}
span{
    font-size: 50px;
    font-weight: 700;
    padding: 20px;
}
.theQuestion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 0px;
    font-weight: 700;   
}
.plus{
    padding: 0;
    height: fit-content;
    width: fit-content;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.top {
    border-top: 1px solid rgb(233, 226, 226);
}
.answer{
    display: none;
    color: hsl(292, 16%, 49%);
    font-weight: 400;
    padding-bottom: 1.5rem;
    line-height: 1.2rem;
}
.question:hover{
    color:purple;
    cursor: pointer;
}
.attribution {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    align-self: center;
    font-size: 11px; text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (max-width: 767px){

.container {
    width: 80%;
    margin-bottom: 30px;
}
.plus{
    padding-left: 10px;  
}
.answer{
    padding-right: 10px;
}
.attribution{
    padding-top: 10px;
}

}

@media only screen and (max-width: 380px){
body{
    font-size: 0.75rem;
    position: relative;
}
.container{
    margin-bottom: 30px;
}
span{
    font-size: 35px;
}
.star img {
    width: 20px;
    height: 20px;
}
.answer{
    line-height: 1rem;
}


}

